<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenuButton" autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button *ngIf="showCloseButton" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Botón para cerrar sesión -->
    <ion-buttons slot="end" *ngIf="isPerfilPage()">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <strong>{{title}}</strong>
      <div class="admin">C o l e D r i v e</div>
    </ion-title>
  </ion-toolbar>
</ion-header>