<app-header title="Historial de Viajes"></app-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let bill of bills">
            <ion-label>
                <h2>{{ bill.nombre }} </h2>
                <p>RUT: {{ bill.rut }}</p>
                <p>Teléfono: {{ bill.telefono }}</p>
                <p>Email: {{ bill.email }}</p>
                
                <ul>
                    <li *ngFor="let date of bill.fechas">{{ date | date: 'dd/MM/yyyy' }}</li>
                </ul>
                
                <ion-button expand="block" color="primary" (click)="navigateToValoracionPage()">Ir a Valoración</ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>