<app-header title="Login"></app-header>
<ion-content>
  <app-logo></app-logo>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" placeholder="asdasd@duocuc.cl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="ingresar()" expand="block" mode="ios" class="submit">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button style="padding-top: 10%;" routerLink="/registro" expand="block" fill="clear" shape="round">
        ¿Mamita Aún no tienes tu cuenta? <br>
        ¡Registrate aquí!
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-button routerLink="/formulario-conductor" expand="block" mode="ios" class="submit">
  Registrate como conductor de la APP
  <ion-icon slot="end" name="bus-outline"></ion-icon>
</ion-button>