<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Somos ColeDrive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Acerca de la Aplicacion</ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <!-- Centra la imagen horizontalmente y ajusta su tamaño -->
            
            <p>ColeDrive ofrece una solución segura y eficiente para el transporte escolar. Nuestra aplicación permite a los padres registrar a sus hijos, seleccionar conductores verificados , asegurando un servicio fiable y transparente para la comunidad escolar.





            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
   
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Video Tutorial</ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <!-- Centra el video horizontalmente -->
            <p>ColeDrive responde a los retos del transporte escolar seguro. Nuestra aplicación facilita la coordinación entre familias y conductores, 
              asegurando un traslado confiable y supervisado para los estudiantes. Con ColeDrive, los padres pueden elegir conductores verificados,
              todo desde su dispositivo móvil.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
