// Variables y temas de Ionic. Para más información, vea:
// http://ionicframework.com/docs/theming/

/** Variables CSS de Ionic **/

.toolbar-buttons {
  display: flex; /* Define el diseño de flexbox para los botones de la barra de herramientas */
  justify-content: space-between; /* Distribuye los botones uniformemente con espacio entre ellos */
  width: 100%; /* Ancho completo para los botones de la barra de herramientas */
}

@media (prefers-color-scheme: dark) {
  /*
   * Colores Oscuros
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #4eac6a; /* Color primario para encabezados y botones */
    --ion-color-primary-rgb: 66, 140, 255; /* Color primario en RGB */
    --ion-color-primary-contrast: #030000; /* Color de contraste para el color primario */
    --ion-color-primary-contrast-rgb: 255, 255, 255; /* Color de contraste en RGB */
    --ion-color-primary-shade: #4eac6a; /* Variante oscura del color primario */
    --ion-color-primary-tint: #4eac6a; /* Variante clara del color primario */

    --ion-color-secondary: #50c8ff; /* Color secundario */
    --ion-color-secondary-rgb: 80, 200, 255; /* Color secundario en RGB */
    --ion-color-secondary-contrast: #272626; /* Color de contraste para el color secundario */
    --ion-color-secondary-contrast-rgb: 255, 255, 255; /* Color de contraste en RGB */
    --ion-color-secondary-shade: #46b0e0; /* Variante oscura del color secundario */
    --ion-color-secondary-tint: #62ceff; /* Variante clara del color secundario */

    --ion-color-success: #2fdf75; /* Color de éxito */
    --ion-color-success-rgb: 47, 223, 117; /* Color de éxito en RGB */
    --ion-color-success-contrast: #000000; /* Color de contraste para el color de éxito */
    --ion-color-success-contrast-rgb: 0, 0, 0; /* Color de contraste en RGB */
    --ion-color-success-shade: #29c467; /* Variante oscura del color de éxito */
    --ion-color-success-tint: #44e283; /* Variante clara del color de éxito */

    --ion-color-warning: #ffd534; /* Color de advertencia */
    --ion-color-warning-rgb: 255, 213, 52; /* Color de advertencia en RGB */
    --ion-color-warning-contrast: #000000; /* Color de contraste para el color de advertencia */
    --ion-color-warning-contrast-rgb: 0, 0, 0; /* Color de contraste en RGB */
    --ion-color-warning-shade: #e0bb2e; /* Variante oscura del color de advertencia */
    --ion-color-warning-tint: #ffd948; /* Variante clara del color de advertencia */

    --ion-color-danger: #ff4961; /* Color de peligro */
    --ion-color-danger-rgb: 255, 73, 97; /* Color de peligro en RGB */
    --ion-color-danger-contrast: #ffffff; /* Color de contraste para el color de peligro */
    --ion-color-danger-contrast-rgb: 255, 255, 255; /* Color de contraste en RGB */
    --ion-color-danger-shade: #e04055; /* Variante oscura del color de peligro */
    --ion-color-danger-tint: #ff5b71; /* Variante clara del color de peligro */

    --ion-color-dark: #f4f5f8; /* Color oscuro */
    --ion-color-dark-rgb: 244, 245, 248; /* Color oscuro en RGB */
    --ion-color-dark-contrast: #000000; /* Color de contraste para el color oscuro */
    --ion-color-dark-contrast-rgb: 0, 0, 0; /* Color de contraste en RGB */
    --ion-color-dark-shade: #d7d8da; /* Variante oscura del color oscuro */
    --ion-color-dark-tint: #f5f6f9; /* Variante clara del color oscuro */

    --ion-color-light: #222428; /* Color claro */
    --ion-color-light-rgb: 34, 36, 40; /* Color claro en RGB */
    --ion-color-light-contrast: #ffffff; /* Color de contraste para el color claro */
    --ion-color-light-contrast-rgb: 255, 255, 255; /* Color de contraste en RGB */
    --ion-color-light-shade: #1e2023; /* Variante oscura del color claro */
    --ion-color-light-tint: #383a3e; /* Variante clara del color claro */
  }

  /*
   * Tema Oscuro iOS
   * -------------------------------------------
   */
  .ios body {
    --ion-background-color: #feffff; /* Color de fondo para el tema oscuro de iOS */
    --ion-background-color-rgb: 0, 0, 0; /* Color de fondo en RGB */

    --ion-text-color: #ffffff; /* Color del texto para el tema oscuro de iOS */
    --ion-text-color-rgb: 255, 255, 255; /* Color del texto en RGB */

    --ion-item-background: #000000; /* Color de fondo de los ítems para el tema oscuro de iOS */
    --ion-card-background: #1c1c1d; /* Color de fondo de las tarjetas para el tema oscuro de iOS */
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100); /* Color de fondo del modal para el tema oscuro de iOS */
    --ion-toolbar-background: var(--ion-color-step-150); /* Color de fondo de la barra de herramientas del modal */
  }

  /*
   * Tema Oscuro Material Design
   * -------------------------------------------
   */
  .md body {
    --ion-background-color: #d6d6d6; /* Color de fondo para el tema oscuro de MD */
    --ion-background-color-rgb: 18, 18, 18; /* Color de fondo en RGB */

    --ion-text-color: #000000; /* Color del texto para el tema oscuro de MD */
    --ion-text-color-rgb: 255, 255, 255; /* Color del texto en RGB */

    --ion-border-color: #d6d6d6; /* Color de borde para el tema oscuro de MD */

    --ion-item-background: #d6d6d6; /* Color de fondo de los ítems para el tema oscuro de MD */
    --ion-toolbar-background: #d6d6d6; /* Color de fondo de la barra de herramientas para el tema oscuro de MD */
    --ion-tab-bar-background: #d6d6d6; /* Color de fondo de la barra de pestañas para el tema oscuro de MD */
    --ion-card-background: #d6d6d6; /* Color de fondo de las tarjetas para el tema oscuro de MD */
  }
}

html {
  /* 
   * Para más información sobre la escalabilidad dinámica de fuentes, visite la documentación:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font); /* Fuente dinámica predeterminada */
}