<app-header backButton="/inicio" title="Formulario Conductor"></app-header>

<ion-content>
  <form [formGroup]="formularioRegistro">
    <!-- Información del Conductor -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Conductor</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-text position="floating">Escaner Carnet de Identidad</ion-text>
          <ion-button slot="end" (click)="scanCarnet()">Escanear</ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombreConductor" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellidoConductor" type="text"></ion-input>
        </ion-item>
        <!-- Nuevo selector para Comuna -->
        <ion-item>
          <ion-label position="floating">Comuna</ion-label>
          <ion-select formControlName="comuna">
            <ion-select-option value="maipu">Maipú</ion-select-option>
            <ion-select-option value="penaflor">Peñaflor</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input formControlName="rutConductor" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="emailConductor" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="passwordConductor" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmPasswordConductor" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="telefonoConductor" type="tel"></ion-input>
        </ion-item>
    <!-- Botón para Certificado de Antecedentes -->
        <ion-item>
          <ion-label>Certificado de Antecedentes</ion-label>
          <ion-button slot="end" >Seleccionar</ion-button>
        </ion-item>
    <!-- Botón para Licencia de Conducir Profesional A3 -->
       <ion-item>
         <ion-label>Licencia de Conducir Profesional A3</ion-label>
         <ion-button slot="end" >Seleccionar</ion-button>
      </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Datos del Vehículo -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos del Vehículo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Patente</ion-label>
          <ion-input formControlName="patenteVehiculo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marcaVehiculo" type="text"></ion-input>
        </ion-item>
            <!-- Botón para Revisión Técnica del Vehículo -->
        <ion-item>
         <ion-label>Revisión Técnica del Vehículo</ion-label>
         <ion-button slot="end" >Seleccionar</ion-button>
        </ion-item>
    <!-- Botón para Certificado de Emisión del Vehículo -->
       <ion-item>
         <ion-label>Certificado de Emisión del Vehículo</ion-label>
         <ion-button slot="end" >Seleccionar</ion-button>
       </ion-item>
    <!-- Botón para Seguro del Vehículo -->
       <ion-item>
         <ion-label>Seguro del Vehículo</ion-label>
         <ion-button slot="end" >Seleccionar</ion-button>
       </ion-item>
    <!-- Botón para Permiso de Circulación del Vehículo -->
       <ion-item>
         <ion-label>Permiso de Circulación del Vehículo</ion-label>
         <ion-button slot="end" >Seleccionar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Datos del Asistente -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Asistente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombreAsistente" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellidoAsistente" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input formControlName="rutAsistente" type="text"></ion-input>
        </ion-item>
            <!-- Botón para Papel de Antecedentes del Asistente -->
        <ion-item>
          <ion-label>Certificado de Antecedentes</ion-label>
          <ion-button slot="end" >Seleccionar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-button expand="block" type="submit" (click)="guardar()" >Registrar</ion-button>
</ion-content>