<app-header title="Lista Viajes" backButton="/perfil"></app-header>

<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterHijos()" placeholder="Buscar..."></ion-searchbar>

<ion-content>
    <ion-list>
        <ion-list-header>
            <strong>Niños para recoger hoy - {{ todayDate }}</strong>
        </ion-list-header>
        <ion-card *ngFor="let nombre of todayNames" class="custom-card">
            <ion-card-header class="custom-card-header">
                <strong class="nombre">{{ nombre }}</strong>
                <ion-button class="llamar-btn" >
                    Llamar al padre
                </ion-button>
            </ion-card-header>
        </ion-card>
    </ion-list>
</ion-content>